*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}
:root{
    --color1:hsl(14, 86%, 42%);
    --color2:hsl(159, 69%, 38%);
    --color3:hsl(20, 50%, 98%);
    --color4:hsl(13, 31%, 94%);
    --color5:hsl(14, 25%, 72%);
    --color6:hsl(7, 20%, 60%);
    --color7:hsl(12, 20%, 44%);
    --color8:hsl(14, 65%, 9%);
}
@font-face{
    font-family: Red-Hat-Text;
    src: url(assets/fonts/RedHatText-VariableFont_wght.ttf);
}
body{
    background-color: black;
}
.main{
    background-color: var(--color3);
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    gap: 2%;
    padding: 80px 70px 80px  98px;
}
h1{
    font-family: Red-Hat-Text;
    src: url(assets/fonts/static/RedHatText-SemiBold.ttf);
    font-weight: 650;
    font-size: 40px;
    color: var(--color8);
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    width: 70%;
}
.boxs{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    column-gap: 20px;
    align-items: center;
    flex-wrap: wrap;
}
.boxs .box{
    width: 30%;
    border: none;
    outline: none;
    flex-wrap: wrap;
    position: relative;
}
.image-container{
    width: 100%;
}
.image{
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.btn{
    position: absolute;
    bottom: 23%;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 10px;
    background-color: var(--color3);
    width: 145px;
    height: 40px;
    border: 1px solid var(--color6);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 7px;
}
.btn a{
    font-size: 12px;
    text-decoration: none;
    font-weight: 520;
    font-family: Red-Hat-Text;
    src: url(assets/fonts/static/RedHatText-Bold.ttf);
    color: var(--color8);
}
.text{
    margin-top: 25px;
    line-height: 1.5;
}
h4{
    color: var(--color7);
    font-family: Red-Hat-Text;
    src: url(assets/fonts/RedHatText-Italic-VariableFont_wght.ttf);
    font-weight: 70;
    font-size: 13px;

}
h3{
    color: var(--color8);
    font-family: Red-Hat-Text;
    src: url(assets/fonts/static/RedHatText-SemiBold.ttf);
    font-weight: 500;
    font-size: 15px;
}
p{
    color: var(--color1);
    font-family: Red-Hat-Text;
    src: url(assets/fonts/RedHatText-VariableFont_wght.ttf);
    font-weight: 450;
    font-size: 14px;
}
.box2{
    width: 35%;
    background-color: white;
    border-radius: 10px;
    height: 40%;
    padding: 25px;
}
.box2 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    height: auto;
    padding: 20px;
}
h2{
    color: var(--color1);
    font-family: Red-Hat-Text;
    src: url(assets/fonts/static/RedHatText-Bold.ttf);
    font-weight: 650;
    font-size: 23px;
}
.box2 p{
    color: var(--color6);
    text-align: center;
    font-family: Red-Hat-Text;
    src: url(assets/fonts/RedHatText-Italic-VariableFont_wght.ttf);
    font-weight: 400;
    font-size: 12px;
}

@media screen and (max-width:1024px) {
    .boxs .box{
        width: 30%;
    }
    .btn{
        left: calc(100% - 145px) / 2;
        bottom: 36%;
    }
}

@media screen and (max-width:768px) {
    .main{
        display: flex;
        flex-direction: column;
    }
    .boxs .box{
        width: 45%;
    }
    .btn{
        left: calc(100% - 145px) / 2;
        bottom: 25%;
    }
}    
@media screen and (max-width:430px) {
    .main{
        display: flex;
        flex-direction: column;
    }
    .container{
        gap: 20px;
        flex-wrap: wrap;
        position: relative;
        align-items: center;
    }

    .boxs .box{
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .btn{
        left: calc(100% - 145px) / 2;
        bottom: 30%;
        width: 145px;
        height: 35px;
    }
    .box2{
        width: 100%;
        background-color: white;
        border-radius: 10px;
        border: none;
        outline: none;
        flex-wrap: wrap;
        position: relative;
        height: 38vh;
        align-items: center;
    }
}
